.bg-icon {
  background-image: url('../../../../static/icons/attachment.svg?fill=#fff&stroke=#fff');
  background-repeat: no-repeat;
}

.bg-icon-mask {
  background-color: rgb(255, 0, 0);
  mask-image: url('/icons/attachment.svg');
  mask-repeat: no-repeat;
}
